@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-list {
  list-style-type: none; /* Elimina los puntos predeterminados */
  padding-left: 0; /* Elimina el padding de la lista */
}

.custom-list li {
  position: relative;
  padding-left: 1em; /* Ajusta el espacio entre el guion y el texto */
  margin-bottom: 0.3em; /* Opcional: ajusta el espacio vertical entre los elementos */
}

.custom-list li::before {
  content: "-"; /* Añade el guion */
  position: absolute;
  left: 0.2em; /* Acerca el guion al texto */
  color: white; /* Ajusta el color del guion si es necesario */
}


